:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #CD2B31;
  --color-accent: #A82227;
  --color-light:#FFFFFF;
  --color-gray-light: #E5E5E5;
  --color-gray-200: #979797;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
