.hero {
    height: 322px;
    background-color: var(--color-primary);
    width: 100%;
    color: var(--color-light);

    &__content {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;

        &Title {
            padding-top: 80px;
            font-size: 42px;
            margin-bottom: 24px;
        }

        &Paragraph {
            font-size: 16px;
            width: 650px;
            line-height: 1.6;

            .btnLink {
                text-decoration: underline;
            }
        }
    }

    &__image {
        position: absolute;
        right: calc(100% / 5);
        top: 70px;
        height: 322px;
        width: 322px;
    }
}

.filters {
    user-select: none;

    &__container {
        padding: 40px 0px;
        display: flex;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        gap: 24px;

        &Select {
            outline: none;
            border: 1px solid var(--color-gray-light);
            border-radius: 4px;
            padding: 0px 12px;
        }

        &Button {
            background-color: var(--color-primary);
            color: var(--color-light);
            border: none;
            padding: 8px 16px;
            border-radius: 4px;
            cursor: pointer;
        }
    }
}